<div class="password-creator__wrapper">
    <form action="" [formGroup]="passwordForm">
        <div class="password-creator">
            <input type="text" [readonly]="true" [value]="passwordForm.value.password"  class="password__text" formControlName="password">
            <div class="buttons">
                <button (click)="GeneratePassword()">Generate</button>
                <button (click)="CopyText()">Copy</button>
            </div>   
            <div class="length">     
                <label for="length">{{passwordForm.value.length}}</label>
                <div>
                    <button (click)="handleMinus()">-</button>
                    <input [style.background]="calculateGradient()" type="range" [min]="MIN_PASSWORD_LENGTH" [max]="MAX_PASSWORD_LENGTH" (change)="GeneratePassword()" formControlName="length" [value]="passwordForm.value.length" >
                    <button (click)="handlePlus()">+</button>
                </div>
            </div>
            <div formGroupName="filter" class="filter">
                <label >
                    <input (change)="GeneratePassword()" type="checkbox" formControlName="uppercase" >
                    <span class="checkbox"></span>
                    ABC
                </label>
                <label >
                    <input (change)="GeneratePassword()" type="checkbox" formControlName="lowercase" >
                    <span class="checkbox"></span>
                    abc
                </label>
                <label >
                    <input (change)="GeneratePassword()" type="checkbox" formControlName="numbers" >
                    <span class="checkbox"></span>
                    123
                </label>
                <label >
                    <input (change)="GeneratePassword()" type="checkbox" formControlName="symbols" >
                    <span class="checkbox"></span>
                    &$&#37;
                </label>
            </div>
        </div>
    </form>
</div>